* {
  margin: 0;
  padding: 0;
}

:root {
    --blue: #005B94;
    --blue-purple: #642cde;
    --purple: #7E1DC3;
    --grey: #393f4d;
    --green: #4da195;
    --green-lime: #30eb2a;
    --white:  #f0eea5;
}

.container {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  display: inline-grid;
  grid-template: 150px 175px 175px 175px 145px/ 350px 410px 410px 410px 340px;
  grid-template-areas:
      "sidebar nav nav nav nav"
      "sidebar projects projects projects announcement"
      "sidebar projects projects projects trending"
      "sidebar projects projects projects exercises"
      "sidebar projects projects projects exercises"
}

.projects {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    display: inline-grid;
    grid-template: 50px 100px 100px 100px/ 400px 400px 400px;
    grid-template-areas:
        "name name name"
        "first second third"
        "first second third"
        "first second third"
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: var(--white);
  border-radius: 15px;
}

.sidebar {
  background-color: var(--blue);
  grid-area: sidebar;
}

.nav {
  background-color: var(--blue-purple);
  grid-area: nav;
}

.projects {
  background-color: var(--purple);
  grid-area: projects;
}

.projects > div{
    background-color: var(--purple);
    /* grid-area: first; */
    border:1px solid var(--white);
}

.projects > .name{
    background-color: red;
    grid-area: name;
}

.projects > .first{
    background-color: red;
    grid-area: first;
}

.projects > .second{
    background-color: red;
    grid-area: second;
}

.projects > .third{
    background-color: red;
    grid-area: third;
}

.announcement {
  background-color: var(--grey);
  grid-area: announcement;
}

.trending{
    background-color: var(--green);
    grid-area: trending;
}

.exercises{
    grid-area: exercises; 
    background-color: var(--green-lime);
}

